<% provide(:title,"About")%>

<h1>StaticPages#about</h1>
<div align="center">voici du texte</div>
<p>Find me in app/views/static_pages/about.html.erb</p>
<h1><%=link_to image_tag("about.png",alt: "about logo"), "http://www.about.com" %></h1>
