<% provide(:title,"Contact")%>


<h1>StaticPages#Contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb
<br>
<img src="..assets/images/kung.jpeg" alt="panda">
</p>
<ul>
<li><a href="home" >Vers home</a></li>
<li><a href="help" >Vers help</a></li>
<li><a href="about" >Vers About</a></li>
<li><a href="toto" >Vers Toto</a></li>
<li><a href="contact" >Vers contact</a></li>
</ul>
