<% provide(:title,"Home")%>


<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb
<br>
<img src="..assets/images/kung.jpeg" alt="panda">
</p>
<ul>
<li><a href="help" >Vers help</a></li>
<li><a href="about" >Vers About</a></li>
<li><a href="toto" >Vers Toto</a></li>
<li><a href="contact" >Vers contact</a></li>
</ul>
