<% provide(:title,"Home")%>


<!--<h1>StaticPages#home</h1>-->
<div class="center jumbotron">
<h1>Bienvenue</h1>
<h2>C'est une super appli qui s'affiche</h2>
<%=link_to "sign up now","#",class: "btn btn-lg btn-primary" %>
</div>
<%=link_to image_tag("kung.jpeg",alt: "rails logo"), "http://rubyonrails.org" %>

<!--
<p>Find me in app/views/static_pages/home.html.erb
<br>
<img src="..assets/images/kung.jpeg" alt="panda">
</p>
<ul>
<li><a href="help" >Vers help</a></li>
<li><a href="about" >Vers About</a></li>
<li><a href="toto" >Vers Toto</a></li>
<li><a href="contact" >Vers contact</a></li>
</ul>
-->
