<% provide(:title,"Login")%>

<h1>StaticPages#login</h1>
<p>Find me in app/views/static_pages/login.html.erb</p>
<h1><%=link_to image_tag("login.jpg",alt: "login logo"), "http://rubyonrails.org" %></h1>
