<% provide(:title,"Toto")%>

<h1>StaticPages#home</h1>
<p>C'est la tete a toto
<br>

</p>
<ul>
<li><a href="home" >Vers home</a></li>
<li><a href="help" >Vers help</a></li>
<li><a href="about" >Vers About</a></li>
</ul>
