<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>
<h1>update your profile</h1>
<div class="row">
  <div class="col-md-6-vol-md-offset3">
    <%= render 'form' %>
    <div class="gravatar_edit">
      <% gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">
        changes
      </a>
    </div>
  </div>
</div>
